In [1]:
import pandas as pd
import os

In [4]:
!ls data

categories.csv		     employees.csv     orders.csv    suppliers.csv
customergroupthresholds.csv  northwind.zip     products.csv
customers.csv		     orderdetails.csv  shippers.csv

In [28]:
def showme(name):
    x = pd.read_csv("data/"+name+".csv",sep="|")
    print(x.shape)
    print(x.dtypes)
    x.to_csv("data/"+name+".csv", index=False)
    print(x.head())

#showme("categories")

In [44]:
with open("data/orderdetails.csv", "r") as infile:
    data = infile.readlines()
    
data = [d.replace('"', '') for d in data]
with open("data/orderdetails.csv", "w") as outfile:
    outfile.writelines(data)

In [46]:
x = pd.read_csv("data/orderdetails.csv")
print(x.shape)
print(x.dtypes)
x.to_csv("data/orderdetails.csv", index=False)
x.head()

(2155, 5)
OrderID        int64
ProductID      int64
UnitPrice    float64
Quantity       int64
Discount     float64
dtype: object

   OrderID  ProductID  UnitPrice  Quantity  Discount
0    10248         11       14.0        12       0.0
1    10248         42        9.8        10       0.0
2    10248         72       34.8         5       0.0
3    10249         14       18.6         9       0.0
4    10249         51       42.4        40       0.0

In [30]:
showme("shippers")

(3, 3)
ShipperID       int64
CompanyName    object
Phone          object
dtype: object
   ShipperID       CompanyName           Phone
0          1    Speedy Express  (503) 555-9831
1          2    United Package  (503) 555-3199
2          3  Federal Shipping  (503) 555-9931

In [31]:
showme("products")

(77, 10)
ProductID            int64
ProductName         object
SupplierID           int64
CategoryID           int64
QuantityPerUnit     object
UnitPrice          float64
UnitsInStock         int64
UnitsOnOrder         int64
ReorderLevel         int64
Discontinued         int64
dtype: object
   ProductID                   ProductName  SupplierID  CategoryID  \
0          1                          Chai           1           1
1          2                         Chang           1           1
2          3                 Aniseed Syrup           1           2
3          4  Chef Anton's Cajun Seasoning           2           2
4          5        Chef Anton's Gumbo Mix           2           2

       QuantityPerUnit  UnitPrice  UnitsInStock  UnitsOnOrder  ReorderLevel  \
0   10 boxes x 20 bags      18.00            39             0            10
1   24 - 12 oz bottles      19.00            17            40            25
2  12 - 550 ml bottles      10.00            13            70            25
3       48 - 6 oz jars      22.00            53             0             0
4             36 boxes      21.35             0             0             0

   Discontinued
0             0
1             0
2             0
3             0
4             1

In [32]:
showme("customergroupthresholds")

(4, 3)
CustomerGroupName     object
RangeBottom          float64
RangeTop             float64
dtype: object
  CustomerGroupName  RangeBottom      RangeTop
0               Low          0.0  9.999999e+02
1            Medium       1000.0  5.000000e+03
2              High       5000.0  1.000000e+04
3         Very High      10000.0  9.223372e+14

In [33]:
showme("customers")

(91, 11)
CustomerID      object
CompanyName     object
ContactName     object
ContactTitle    object
Address         object
City            object
Region          object
PostalCode      object
Country         object
Phone           object
Fax             object
dtype: object
  CustomerID                         CompanyName         ContactName  \
0      ALFKI                 Alfreds Futterkiste        Maria Anders
1      ANATR  Ana Trujillo Emparedados y helados        Ana Trujillo
2      ANTON             Antonio Moreno Taquería      Antonio Moreno
3      AROUT                     Around the Horn        Thomas Hardy
4      BERGS                  Berglunds snabbköp  Christina Berglund

           ContactTitle                        Address         City Region  \
0  Sales Representative                  Obere Str. 57       Berlin    NaN
1                 Owner  Avda. de la Constitución 2222  México D.F.    NaN
2                 Owner                Mataderos  2312  México D.F.    NaN
3  Sales Representative                120 Hanover Sq.       London    NaN
4   Order Administrator                Berguvsvägen  8        Luleå    NaN

  PostalCode  Country           Phone             Fax
0      12209  Germany     030-0074321     030-0076545
1      05021   Mexico    (5) 555-4729    (5) 555-3745
2      05023   Mexico    (5) 555-3932             NaN
3    WA1 1DP       UK  (171) 555-7788  (171) 555-6750
4   S-958 22   Sweden   0921-12 34 65   0921-12 34 67

In [34]:
showme("suppliers")

(29, 12)
SupplierID       int64
CompanyName     object
ContactName     object
ContactTitle    object
Address         object
City            object
Region          object
PostalCode      object
Country         object
Phone           object
Fax             object
HomePage        object
dtype: object
   SupplierID                         CompanyName                 ContactName  \
0           1                      Exotic Liquids            Charlotte Cooper
1           2          New Orleans Cajun Delights               Shelley Burke
2           3           Grandma Kelly's Homestead               Regina Murphy
3           4                       Tokyo Traders                Yoshi Nagase
4           5  Cooperativa de Quesos 'Las Cabras'  Antonio del Valle Saavedra

           ContactTitle                    Address         City    Region  \
0    Purchasing Manager             49 Gilbert St.       London       NaN
1   Order Administrator             P.O. Box 78934  New Orleans        LA
2  Sales Representative             707 Oxford Rd.    Ann Arbor        MI
3     Marketing Manager  9-8 Sekimai Musashino-shi        Tokyo       NaN
4  Export Administrator          Calle del Rosal 4       Oviedo  Asturias

  PostalCode Country           Phone             Fax     HomePage
0    EC1 4SD      UK  (171) 555-2222             NaN          NaN
1      70117     USA  (100) 555-4822             NaN  #CAJUN.HTM#
2      48104     USA  (313) 555-5735  (313) 555-3349          NaN
3        100   Japan  (03) 3555-5011             NaN          NaN
4      33007   Spain  (98) 598 76 54             NaN          NaN

In [35]:
showme("orders")

(830, 14)
OrderID             int64
CustomerID         object
EmployeeID          int64
OrderDate          object
RequiredDate       object
ShippedDate        object
ShipVia             int64
Freight           float64
ShipName           object
ShipAddress        object
ShipCity           object
ShipRegion         object
ShipPostalCode     object
ShipCountry        object
dtype: object
   OrderID CustomerID  EmployeeID                OrderDate  \
0    10248      VINET           5  2014-07-04 08:00:00.000
1    10249      TOMSP           6  2014-07-05 04:00:00.000
2    10250      HANAR           4  2014-07-08 15:00:00.000
3    10251      VICTE           3  2014-07-08 14:00:00.000
4    10252      SUPRD           4  2014-07-09 01:00:00.000

              RequiredDate              ShippedDate  ShipVia  Freight  \
0  2014-08-01 00:00:00.000  2014-07-16 00:00:00.000        3    32.38
1  2014-08-16 00:00:00.000  2014-07-10 00:00:00.000        1    11.61
2  2014-08-05 00:00:00.000  2014-07-12 00:00:00.000        2    65.83
3  2014-08-05 00:00:00.000  2014-07-15 00:00:00.000        1    41.34
4  2014-08-06 00:00:00.000  2014-07-11 00:00:00.000        2    51.30

                    ShipName           ShipAddress        ShipCity ShipRegion  \
0  Vins et alcools Chevalier    59 rue de l'Abbaye           Reims        NaN
1         Toms Spezialitäten         Luisenstr. 48         Münster        NaN
2              Hanari Carnes       Rua do Paço, 67  Rio de Janeiro         RJ
3       Victuailles en stock    2, rue du Commerce            Lyon        NaN
4           Suprêmes délices  Boulevard Tirou, 255       Charleroi        NaN

  ShipPostalCode ShipCountry
0          51100      France
1          44087     Germany
2      05454-876      Brazil
3          69004      France
4         B-6000     Belgium

In [36]:
showme("employees")

(12, 17)
EmployeeID          object
LastName            object
FirstName           object
Title               object
TitleOfCourtesy     object
BirthDate           object
HireDate            object
Address             object
City                object
Region              object
PostalCode          object
Country             object
HomePhone           object
Extension          float64
Notes               object
ReportsTo          float64
PhotoPath           object
dtype: object
  EmployeeID   LastName FirstName                  Title TitleOfCourtesy  \
0          1    Davolio     Nancy   Sales Representative             Ms.
1    Apt. 2A    Seattle        WA                  98122             USA
2          2     Fuller    Andrew  Vice President, Sales             Dr.
3          3  Leverling     Janet   Sales Representative             Ms.
4          4    Peacock  Margaret   Sales Representative            Mrs.

                 BirthDate                 HireDate  \
0  1966-12-08 00:00:00.000  2010-05-01 00:00:00.000
1           (206) 555-9857                     5467
2  1970-02-19 00:00:00.000  2010-08-14 00:00:00.000
3  1981-08-30 00:00:00.000  2010-04-01 00:00:00.000
4  1955-09-19 00:00:00.000  2011-05-03 00:00:00.000

                                             Address      City  \
0                                 507 - 20th Ave. E.       NaN
1  Education includes a BA in psychology from Col...         2
2                                 908 W. Capital Way    Tacoma
3                                 722 Moss Bay Blvd.  Kirkland
4                               4110 Old Redmond Rd.   Redmond

                                 Region PostalCode Country       HomePhone  \
0                                   NaN        NaN     NaN             NaN
1  http://accweb/emmployees/davolio.bmp        NaN     NaN             NaN
2                                    WA      98401     USA  (206) 555-9482
3                                    WA      98033     USA  (206) 555-3412
4                                    WA      98052     USA  (206) 555-8122

   Extension                                              Notes  ReportsTo  \
0        NaN                                                NaN        NaN
1        NaN                                                NaN        NaN
2     3457.0  Andrew received his BTS commercial in 1974 and...        NaN
3     3355.0  Janet has a BS degree in chemistry from Boston...        2.0
4     5176.0  Margaret holds a BA in English literature from...        2.0

                                PhotoPath
0                                     NaN
1                                     NaN
2     http://accweb/emmployees/fuller.bmp
3  http://accweb/emmployees/leverling.bmp
4    http://accweb/emmployees/peacock.bmp