In [1]:
import pandas as pd

In [2]:
!ls data

categories.csv		     employees.csv     orders.csv    suppliers.csv
customergroupthresholds.csv  northwind.zip     products.csv
customers.csv		     orderdetails.csv  shippers.csv

In [5]:
categories = pd.read_csv("data/categories.csv")
print(categories.shape)
print(categories.dtypes)
categories.head()

(8, 3)
CategoryID      object
CategoryName    object
Description     object
dtype: object

,,,,CategoryID,CategoryName,Description
1,Beverages,Soft drinks,coffees,teas,beers,and ales
2,Condiments,Sweet and savory sauces,relishes,spreads,and seasonings,NaN
3,Confections,Desserts,candies,and sweet breads,NaN,NaN
4,Dairy Products,Cheeses,NaN,NaN,NaN,NaN
5,Grains/Cereals,Breads,crackers,pasta,and cereal,NaN

In [12]:
orderdetails = pd.read_csv("data/orderdetails.csv")
print(orderdetails.shape)
print(orderdetails.dtypes)
orderdetails.head()

(2155, 5)
OrderID        int64
ProductID      int64
UnitPrice    float64
Quantity       int64
Discount     float64
dtype: object

   OrderID  ProductID  UnitPrice  Quantity  Discount
0    10248         11       14.0        12       0.0
1    10248         42        9.8        10       0.0
2    10248         72       34.8         5       0.0
3    10249         14       18.6         9       0.0
4    10249         51       42.4        40       0.0

In [13]:
shippers = pd.read_csv("data/shippers.csv")
print(shippers.shape)
print(shippers.dtypes)
shippers.head()

(3, 3)
ShipperID       int64
CompanyName    object
Phone          object
dtype: object

   ShipperID       CompanyName           Phone
0          1    Speedy Express  (503) 555-9831
1          2    United Package  (503) 555-3199
2          3  Federal Shipping  (503) 555-9931

In [10]:
products = pd.read_csv("data/products.csv")
print(products.shape)
print(products.dtypes)
products.head()

(77, 10)
ProductID            int64
ProductName         object
SupplierID           int64
CategoryID           int64
QuantityPerUnit     object
UnitPrice          float64
UnitsInStock         int64
UnitsOnOrder         int64
ReorderLevel         int64
Discontinued         int64
dtype: object

,ProductID,ProductName,SupplierID,CategoryID,QuantityPerUnit,UnitPrice,UnitsInStock,UnitsOnOrder,ReorderLevel,Discontinued
0,1,Chai,1,1,10 boxes x 20 bags,18.00,39,0,10,0
1,2,Chang,1,1,24 - 12 oz bottles,19.00,17,40,25,0
2,3,Aniseed Syrup,1,2,12 - 550 ml bottles,10.00,13,70,25,0
3,4,Chef Anton's Cajun Seasoning,2,2,48 - 6 oz jars,22.00,53,0,0,0
4,5,Chef Anton's Gumbo Mix,2,2,36 boxes,21.35,0,0,0,1

In [15]:
customergroupthresholds = pd.read_csv("data/customergroupthresholds.csv")
print(customergroupthresholds.shape)
print(customergroupthresholds.dtypes)
customergroupthresholds.head()

(4, 3)
CustomerGroupName     object
RangeBottom          float64
RangeTop             float64
dtype: object

  CustomerGroupName  RangeBottom      RangeTop
0               Low          0.0  9.999999e+02
1            Medium       1000.0  5.000000e+03
2              High       5000.0  1.000000e+04
3         Very High      10000.0  9.223372e+14

In [16]:
customers = pd.read_csv("data/customers.csv")
print(customers.shape)
print(customers.dtypes)
customers.head()

ParserError: Error tokenizing data. C error: Expected 11 fields in line 8, saw 12

In [24]:
data[7]

['BLONP',
 'Blondesddsl père et fils',
 'Frédérique Citeaux',
 'Marketing Manager',
 '24',
 ' place Kléber',
 'Strasbourg',
 'NULL',
 '67000',
 'France',
 '88.60.15.31',
 '88.60.15.32\n']

In [21]:
from collections import Counter
with open('data/customers.csv', 'r') as infile:
    data = infile.readlines()
data = [d.split(',') for d in data]
for i,r in enumerate(data):
    if len(r) == 12:
        print(i, r)
c = Counter([len(s) for s in data])
c

7 ['BLONP', 'Blondesddsl père et fils', 'Frédérique Citeaux', 'Marketing Manager', '24', ' place Kléber', 'Strasbourg', 'NULL', '67000', 'France', '88.60.15.31', '88.60.15.32\n']
8 ['BOLID', 'Bólido Comidas preparadas', 'Martín Sommer', 'Owner', 'C/ Araquil', ' 67', 'Madrid', 'NULL', '28023', 'Spain', '(91) 555 22 82', '(91) 555 91 99\n']
9 ['BONAP', "Bon app'", 'Laurence Lebihan', 'Owner', '12', ' rue des Bouchers', 'Marseille', 'NULL', '13008', 'France', '91.24.45.40', '91.24.45.41\n']
15 ['COMMI', 'Comércio Mineiro', 'Pedro Afonso', 'Sales Associate', 'Av. dos Lusíadas', ' 23', 'Sao Paulo', 'SP', '05432-043', 'Brazil', '(11) 555-7647', 'NULL\n']
18 ['DUMON', 'Du monde entier', 'Janine Labrune', 'Owner', '67', ' rue des Cinquante Otages', 'Nantes', 'NULL', '44000', 'France', '40.67.88.88', '40.67.89.89\n']
21 ['FAMIA', 'Familia Arquibaldo', 'Aria Cruz', 'Marketing Assistant', 'Rua Orós', ' 92', 'Sao Paulo', 'SP', '05442-030', 'Brazil', '(11) 555-9857', 'NULL\n']
22 ['FISSA', 'FISSA Fabrica Inter. Salchichas S.A.', 'Diego Roel', 'Accounting Manager', 'C/ Moralzarzal', ' 86', 'Madrid', 'NULL', '28034', 'Spain', '(91) 555 94 44', '(91) 555 55 93\n']
23 ['FOLIG', 'Folies gourmandes', 'Martine Rancé', 'Assistant Sales Agent', '184', ' chaussée de Tournai', 'Lille', 'NULL', '59000', 'France', '20.16.10.16', '20.16.10.17\n']
26 ['FRANR', 'France restauration', 'Carine Schmitt', 'Marketing Manager', '54', ' rue Royale', 'Nantes', 'NULL', '44000', 'France', '40.32.21.21', '40.32.21.20\n']
29 ['GALED', 'Galería del gastrónomo', 'Eduardo Saavedra', 'Marketing Manager', 'Rambla de Cataluña', ' 23', 'Barcelona', 'NULL', '08022', 'Spain', '(93) 203 4560', '(93) 203 4561\n']
30 ['GODOS', 'Godos Cocina Típica', 'José Pedro Freyre', 'Sales Manager', 'C/ Romero', ' 33', 'Sevilla', 'NULL', '41101', 'Spain', '(95) 555 82 82', 'NULL\n']
31 ['GOURL', 'Gourmet Lanchonetes', 'André Fonseca', 'Sales Associate', 'Av. Brasil', ' 442', 'Campinas', 'SP', '04876-786', 'Brazil', '(11) 555-9482', 'NULL\n']
34 ['HANAR', 'Hanari Carnes', 'Mario Pontes', 'Accounting Manager', 'Rua do Paço', ' 67', 'Rio de Janeiro', 'RJ', '05454-876', 'Brazil', '(21) 555-0091', '(21) 555-8765\n']
40 ['LACOR', "La corne d'abondance", 'Daniel Tonini', 'Sales Representative', '67', " avenue de l'Europe", 'Versailles', 'NULL', '78000', 'France', '30.59.84.10', '30.59.85.11\n']
57 ['PARIS', 'Paris spécialités', 'Marie Bertrand', 'Owner', '265', ' boulevard Charonne', 'Paris', 'NULL', '75012', 'France', '(1) 42.34.22.66', '(1) 42.34.22.77\n']
61 ['QUEDE', 'Que Delícia', 'Bernardo Batista', 'Accounting Manager', 'Rua da Panificadora', ' 12', 'Rio de Janeiro', 'RJ', '02389-673', 'Brazil', '(21) 555-4252', '(21) 555-4545\n']
62 ['QUEEN', 'Queen Cozinha', 'Lúcia Carvalho', 'Marketing Assistant', 'Alameda dos Canàrios', ' 891', 'Sao Paulo', 'SP', '05487-020', 'Brazil', '(11) 555-1189', 'NULL\n']
67 ['RICAR', 'Ricardo Adocicados', 'Janete Limeira', 'Assistant Sales Agent', 'Av. Copacabana', ' 267', 'Rio de Janeiro', 'RJ', '02389-890', 'Brazil', '(21) 555-3412', 'NULL\n']
69 ['ROMEY', 'Romero y tomillo', 'Alejandra Camino', 'Accounting Manager', 'Gran Vía', ' 1', 'Madrid', 'NULL', '28001', 'Spain', '(91) 745 6200', '(91) 745 6210\n']
74 ['SPECD', 'Spécialités du monde', 'Dominique Perrier', 'Marketing Manager', '25', ' rue Lauriston', 'Paris', 'NULL', '75016', 'France', '(1) 47.55.60.10', '(1) 47.55.60.20\n']
76 ['SUPRD', 'Suprêmes délices', 'Pascale Cartrain', 'Accounting Manager', 'Boulevard Tirou', ' 255', 'Charleroi', 'NULL', 'B-6000', 'Belgium', '(071) 23 67 22 20', '(071) 23 67 22 21\n']
81 ['TRADH', 'Tradição Hipermercados', 'Anabela Domingues', 'Sales Representative', 'Av. Inês de Castro', ' 414', 'Sao Paulo', 'SP', '05634-030', 'Brazil', '(11) 555-2167', '(11) 555-2168\n']
84 ['VICTE', 'Victuailles en stock', 'Mary Saveley', 'Sales Agent', '2', ' rue du Commerce', 'Lyon', 'NULL', '69004', 'France', '78.32.54.86', '78.32.54.87\n']
88 ['WELLI', 'Wellington Importadora', 'Paula Parente', 'Sales Manager', 'Rua do Mercado', ' 12', 'Resende', 'SP', '08737-363', 'Brazil', '(14) 555-8122', 'NULL\n']

Counter({11: 68, 12: 24})

In [8]:
suppliers = pd.read_csv("data/suppliers.csv")
print(suppliers.shape)
print(suppliers.dtypes)
suppliers.head()

ParserError: Error tokenizing data. C error: Expected 12 fields in line 8, saw 13

In [7]:
orders = pd.read_csv("data/orders.csv")
print(orders.shape)
print(orders.dtypes)
orders.head()

ParserError: Error tokenizing data. C error: Expected 14 fields in line 4, saw 15

In [6]:
employees = pd.read_csv("data/employees.csv")
print(employees.shape)
print(employees.dtypes)
employees.head()

ParserError: Error tokenizing data. C error: Expected 17 fields in line 4, saw 19