In [1]:
import pandas as pd

In [4]:
!ls data

categories.csv		     employees.csv     orders.csv    suppliers.csv
customergroupthresholds.csv  northwind.zip     products.csv
customers.csv		     orderdetails.csv  shippers.csv

In [6]:
categories = pd.read_csv("data/categories.csv", sep="|")
print(categories.shape)
print(categories.dtypes)
categories.head()

(8, 3)
CategoryID       int64
CategoryName    object
Description     object
dtype: object

,CategoryID,CategoryName,Description
0,1,Beverages,"Soft drinks, coffees, teas, beers, and ales"
1,2,Condiments,"Sweet and savory sauces, relishes, spreads, an..."
2,3,Confections,"Desserts, candies, and sweet breads"
3,4,Dairy Products,Cheeses
4,5,Grains/Cereals,"Breads, crackers, pasta, and cereal"

In [7]:
orderdetails = pd.read_csv("data/orderdetails.csv", sep="|")
print(orderdetails.shape)
print(orderdetails.dtypes)
orderdetails.head()

(2155, 5)
OrderID        int64
ProductID      int64
UnitPrice    float64
Quantity       int64
Discount     float64
dtype: object

   OrderID  ProductID  UnitPrice  Quantity  Discount
0    10248         11       14.0        12       0.0
1    10248         42        9.8        10       0.0
2    10248         72       34.8         5       0.0
3    10249         14       18.6         9       0.0
4    10249         51       42.4        40       0.0

In [8]:
shippers = pd.read_csv("data/shippers.csv", sep="|")
print(shippers.shape)
print(shippers.dtypes)
shippers.head()

(3, 3)
ShipperID       int64
CompanyName    object
Phone          object
dtype: object

   ShipperID       CompanyName           Phone
0          1    Speedy Express  (503) 555-9831
1          2    United Package  (503) 555-3199
2          3  Federal Shipping  (503) 555-9931

In [9]:
products = pd.read_csv("data/products.csv", sep="|")
print(products.shape)
print(products.dtypes)
products.head()

(77, 10)
ProductID            int64
ProductName         object
SupplierID           int64
CategoryID           int64
QuantityPerUnit     object
UnitPrice          float64
UnitsInStock         int64
UnitsOnOrder         int64
ReorderLevel         int64
Discontinued         int64
dtype: object

,ProductID,ProductName,SupplierID,CategoryID,QuantityPerUnit,UnitPrice,UnitsInStock,UnitsOnOrder,ReorderLevel,Discontinued
0,1,Chai,1,1,10 boxes x 20 bags,18.00,39,0,10,0
1,2,Chang,1,1,24 - 12 oz bottles,19.00,17,40,25,0
2,3,Aniseed Syrup,1,2,12 - 550 ml bottles,10.00,13,70,25,0
3,4,Chef Anton's Cajun Seasoning,2,2,48 - 6 oz jars,22.00,53,0,0,0
4,5,Chef Anton's Gumbo Mix,2,2,36 boxes,21.35,0,0,0,1

In [10]:
customergroupthresholds = pd.read_csv("data/customergroupthresholds.csv", sep="|")
print(customergroupthresholds.shape)
print(customergroupthresholds.dtypes)
customergroupthresholds.head()

(4, 3)
CustomerGroupName     object
RangeBottom          float64
RangeTop             float64
dtype: object

  CustomerGroupName  RangeBottom      RangeTop
0               Low          0.0  9.999999e+02
1            Medium       1000.0  5.000000e+03
2              High       5000.0  1.000000e+04
3         Very High      10000.0  9.223372e+14

In [11]:
customers = pd.read_csv("data/customers.csv", sep="|")
print(customers.shape)
print(customers.dtypes)
customers.head()

(91, 11)
CustomerID      object
CompanyName     object
ContactName     object
ContactTitle    object
Address         object
City            object
Region          object
PostalCode      object
Country         object
Phone           object
Fax             object
dtype: object

,CustomerID,CompanyName,ContactName,ContactTitle,Address,City,Region,PostalCode,Country,Phone,Fax
0,ALFKI,Alfreds Futterkiste,Maria Anders,Sales Representative,Obere Str. 57,Berlin,NaN,12209,Germany,030-0074321,030-0076545
1,ANATR,Ana Trujillo Emparedados y helados,Ana Trujillo,Owner,Avda. de la Constitución 2222,México D.F.,NaN,05021,Mexico,(5) 555-4729,(5) 555-3745
2,ANTON,Antonio Moreno Taquería,Antonio Moreno,Owner,Mataderos 2312,México D.F.,NaN,05023,Mexico,(5) 555-3932,NaN
3,AROUT,Around the Horn,Thomas Hardy,Sales Representative,120 Hanover Sq.,London,NaN,WA1 1DP,UK,(171) 555-7788,(171) 555-6750
4,BERGS,Berglunds snabbköp,Christina Berglund,Order Administrator,Berguvsvägen 8,Luleå,NaN,S-958 22,Sweden,0921-12 34 65,0921-12 34 67

In [12]:
suppliers = pd.read_csv("data/suppliers.csv", sep="|")
print(suppliers.shape)
print(suppliers.dtypes)
suppliers.head()

(29, 12)
SupplierID       int64
CompanyName     object
ContactName     object
ContactTitle    object
Address         object
City            object
Region          object
PostalCode      object
Country         object
Phone           object
Fax             object
HomePage        object
dtype: object

,SupplierID,CompanyName,ContactName,ContactTitle,Address,City,Region,PostalCode,Country,Phone,Fax,HomePage
0,1,Exotic Liquids,Charlotte Cooper,Purchasing Manager,49 Gilbert St.,London,NaN,EC1 4SD,UK,(171) 555-2222,NaN,NaN
1,2,New Orleans Cajun Delights,Shelley Burke,Order Administrator,P.O. Box 78934,New Orleans,LA,70117,USA,(100) 555-4822,NaN,#CAJUN.HTM#
2,3,Grandma Kelly's Homestead,Regina Murphy,Sales Representative,707 Oxford Rd.,Ann Arbor,MI,48104,USA,(313) 555-5735,(313) 555-3349,NaN
3,4,Tokyo Traders,Yoshi Nagase,Marketing Manager,9-8 Sekimai Musashino-shi,Tokyo,NaN,100,Japan,(03) 3555-5011,NaN,NaN
4,5,Cooperativa de Quesos 'Las Cabras',Antonio del Valle Saavedra,Export Administrator,Calle del Rosal 4,Oviedo,Asturias,33007,Spain,(98) 598 76 54,NaN,NaN

In [13]:
orders = pd.read_csv("data/orders.csv", sep="|")
print(orders.shape)
print(orders.dtypes)
orders.head()

(830, 14)
OrderID             int64
CustomerID         object
EmployeeID          int64
OrderDate          object
RequiredDate       object
ShippedDate        object
ShipVia             int64
Freight           float64
ShipName           object
ShipAddress        object
ShipCity           object
ShipRegion         object
ShipPostalCode     object
ShipCountry        object
dtype: object

,OrderID,CustomerID,EmployeeID,OrderDate,RequiredDate,ShippedDate,ShipVia,Freight,ShipName,ShipAddress,ShipCity,ShipRegion,ShipPostalCode,ShipCountry
0,10248,VINET,5,2014-07-04 08:00:00.000,2014-08-01 00:00:00.000,2014-07-16 00:00:00.000,3,32.38,Vins et alcools Chevalier,59 rue de l'Abbaye,Reims,NaN,51100,France
1,10249,TOMSP,6,2014-07-05 04:00:00.000,2014-08-16 00:00:00.000,2014-07-10 00:00:00.000,1,11.61,Toms Spezialitäten,Luisenstr. 48,Münster,NaN,44087,Germany
2,10250,HANAR,4,2014-07-08 15:00:00.000,2014-08-05 00:00:00.000,2014-07-12 00:00:00.000,2,65.83,Hanari Carnes,"Rua do Paço, 67",Rio de Janeiro,RJ,05454-876,Brazil
3,10251,VICTE,3,2014-07-08 14:00:00.000,2014-08-05 00:00:00.000,2014-07-15 00:00:00.000,1,41.34,Victuailles en stock,"2, rue du Commerce",Lyon,NaN,69004,France
4,10252,SUPRD,4,2014-07-09 01:00:00.000,2014-08-06 00:00:00.000,2014-07-11 00:00:00.000,2,51.30,Suprêmes délices,"Boulevard Tirou, 255",Charleroi,NaN,B-6000,Belgium

In [14]:
employees = pd.read_csv("data/employees.csv", sep="|")
print(employees.shape)
print(employees.dtypes)
employees.head()

(12, 17)
EmployeeID          object
LastName            object
FirstName           object
Title               object
TitleOfCourtesy     object
BirthDate           object
HireDate            object
Address             object
City                object
Region              object
PostalCode          object
Country             object
HomePhone           object
Extension          float64
Notes               object
ReportsTo          float64
PhotoPath           object
dtype: object

,EmployeeID,LastName,FirstName,Title,TitleOfCourtesy,BirthDate,HireDate,Address,City,Region,PostalCode,Country,HomePhone,Extension,Notes,ReportsTo,PhotoPath
0,1,Davolio,Nancy,Sales Representative,Ms.,1966-12-08 00:00:00.000,2010-05-01 00:00:00.000,507 - 20th Ave. E.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Apt. 2A,Seattle,WA,98122,USA,(206) 555-9857,5467,Education includes a BA in psychology from Col...,2,http://accweb/emmployees/davolio.bmp,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Fuller,Andrew,"Vice President, Sales",Dr.,1970-02-19 00:00:00.000,2010-08-14 00:00:00.000,908 W. Capital Way,Tacoma,WA,98401,USA,(206) 555-9482,3457.0,Andrew received his BTS commercial in 1974 and...,NaN,http://accweb/emmployees/fuller.bmp
3,3,Leverling,Janet,Sales Representative,Ms.,1981-08-30 00:00:00.000,2010-04-01 00:00:00.000,722 Moss Bay Blvd.,Kirkland,WA,98033,USA,(206) 555-3412,3355.0,Janet has a BS degree in chemistry from Boston...,2.0,http://accweb/emmployees/leverling.bmp
4,4,Peacock,Margaret,Sales Representative,Mrs.,1955-09-19 00:00:00.000,2011-05-03 00:00:00.000,4110 Old Redmond Rd.,Redmond,WA,98052,USA,(206) 555-8122,5176.0,Margaret holds a BA in English literature from...,2.0,http://accweb/emmployees/peacock.bmp